<!DOCTYPE html>
<html ng-app="taskManager">
<head>
    <meta charset="UTF-8">
    <title><%=title%> app</title>
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet">

    <script src="javascripts/angular/angular.js" type="application/javascript"></script>
    <script src="javascripts/angular-route/angular-route.js" type="application/javascript"></script>
    <script src="javascripts/angular-cookies.js" type="application/javascript"></script>
    <script src="javascripts/controllers.js" type="application/javascript"></script>
    <script src="javascripts/directives.js" type="application/javascript"></script>
    <script src="javascripts/app.js" type="application/javascript"></script>
    <base href="/">
</head>
<!--<body ng-controller="mainCtrl">-->
<body>
<h1></h1>
<!--<nav id="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Main</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" novalidate name="form">
                <label class="navbar-login">{{email}}</label>
                <button ng-disabled="!isAutorized" ng-click="profileSettings()" type="button" class="btn btn-primary">Profile settings</button>
                <button ng-disabled="!isAutorized" ng-click="logOut()" type="button" class="btn btn-primary">Log out</button>
            </form>
        </div>
    </div>
</nav>

<div class="container main">
    <div ng-if="isAutorized">
        <div ng-view></div>
    </div>
    <div ng-show="!showAuth" ng-if="!isAutorized">
        <login></login>
    </div>
    <div ng-if="showAuth">
        <auth></auth>
    </div>
</div>
{{3+2}}
</body>
</html>