html {
    height: 100%;
}
body {
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url("../images/back.jpg");
}

.main {
    padding-top: 50px;
    height: 100%;
}

a {
  color: #00B7FF;
}

.remember {

}

p.err {
    color: #a94442;
}
input.err, textarea.err {
    border-color: #a94442;
}

p.success {
    color: #3c763d;
}

.navbar-login {
    font-size: 14px;
    color: #ffffff;
    margin-right: 10px;
}

.item {
    border: 1px solid #3c763d;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.btn-del {
    padding: 5px;
}

/* ===== Task Manager ===== */
.task-manager-conteiner {
    text-align: center;
}
.to-do-list {
    text-align: left;
    margin-bottom: 35px;
}
.to-do-list>header {
    background: url("../images/header-back.png") repeat-x;
    color: #ffffff;
    font: 14px Arial, Tahoma, sans-serif;
    height: 48px;
    border: 1px solid #315588;
}
.logo {
    background: url("../images/calendar_sm.png") no-repeat center;
    width: 25px;
    height: 25px;
}
.new-task-panel {
    height: 48px;
    background: linear-gradient(to top, #CBCBCB, #E0E0E0);
    border-left: 1px solid #A9A9A9;
    border-right: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
}

.add-task-logo {
    background: url("../images/plus.png") no-repeat center;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.new-task-name {
    display: inline-block;
    padding-top: 6px;
}
.new-task-panel .add-task-btn {
    color: #ffffff;
}

.task-item {
    border-left: 1px solid #A9A9A9;
    border-right: 1px solid #A9A9A9;
    border-bottom: 1px solid #E6EAE9;
    background: #ffffff;
}
.task-item>* {
    height: 100%;
    padding-top: 10px;
}
.task-item:last-child {
    border-bottom: 1px solid #A9A9A9;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 1px 0px rgba(70, 70, 70, 0.75);
}
.task-item:hover {
    background-color: #FAFCD4;
}
.done {
    position: relative;
    text-align: center;
}
.double-line {
    position: absolute;
    left: -3px;
    top: 0;
    bottom: 0;
    width: 6px;
    border-right: 1px double #EDD9DE;
    border-left: 1px double #EDD9DE;
}
.task-name {
    padding: 10px 0 10px 0;
    min-height: 28px;
    color: #999999;
    font-weight: 700;
    border-right: 1px solid #E6EAE9;
}
.edit-list {
    background: url("../images/blue_edit.png") no-repeat center;
    width: 24px;
    cursor: pointer;
}
.delete-list {
    background: url("../images/blue_del.png") no-repeat center;
    width: 20px;
    cursor: pointer;
}
.to-do-list>header>* {
    height: 100%;
}
.title {
    padding-top: 14px;
    font-size: 18px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
.head-buttons>* {
    height: 100%;
}
.head-buttons>*>* {
    height: 100%;
}

.up {
    background: url("../images/up_sm.png") no-repeat center;
    width: 18px;
    height: 20px;
    cursor: pointer;
}
.down {
    background: url("../images/down_sm.png") no-repeat center;
    width: 18px;
    height: 20px;
    cursor: pointer;
}
.edit-task {
    background: url("../images/edit_sm.png") no-repeat center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.del-task {
    background: url("../images/del_sm.png") no-repeat center;
    width: 20px;
    height: 28px;
    cursor: pointer;
}
.strike {
    text-decoration: line-through;
}
.wrap-btn {
    display: inline-block;
    width: 210px;
    height: 45px;
    background: url("../images/header-back.png") repeat-x;
    border: 1px solid #315589;
    border-radius: 3px;
    margin: 11px 0 20px 0;
}
.add-proj-btn {
    width: 100%;
    height: 100%;
    padding: 0 0 3px 16px;
    background: url("../images/btn-plus.png") no-repeat 6% 50%;
    border: none;
    color: #ffffff;
    font: 20px "Calibri", Arial, sans-serif;
    font-weight: 900;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
}
.task-manager-conteiner>h1 {
    margin: 45px 0 0 0;
    text-shadow: 0 2px 1px rgba(255, 255, 255, 0.8);
    font-weight: 700;
    text-transform: uppercase;
}
.task-manager-conteiner>h3 {
    margin: 10px 0 55px 0;
    text-shadow: 0 2px 1px rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 22px;
}
.task-manager-conteiner>h6 {
    color: rgba(255,255,255,0.7);
    font-size: 15px;
}
.warning {
    /*border: 1px solid #d9534f;*/
    /*background-color: rgba(217, 83,79, 0.5);*/
    color: #d9534f;
}