<div>
    <h1>Create item</h1>

    <form novalidate name="createForm" ng-submit="submitCreateItem(createForm.$valid)">
        <div class="row">
            <div class="col-sm-6 col-md-4 form-group">
                <input name="name" required ng-maxlength="255" ng-model="item.name" type="text" placeholder="Name" class="form-control" ng-class="{'err' : createForm.name.$invalid && !createForm.name.$pristine}">
            </div>
            <p ng-show="createForm.name.$error.maxlength" class="help-block err">Name is too long.</p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 form-group">
                <input name="price" required min="0" smart-float ng-model="item.price" type="number" step="0.05" placeholder="Price" class="form-control" ng-class="{'err' : createForm.price.$invalid && !createForm.price.$pristine}">
            </div>
            <p ng-show="createForm.price.$error.float  && !createForm.price.$pristine" class="help-block err">Wrong price format (1234.56).</p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 form-group">
                <textarea name="description" rows="5" required ng-maxlength="1000" ng-model="item.description" placeholder="Description" class="form-control" ng-class="{'err' : createForm.description.$invalid && !createForm.description.$pristine}"></textarea>
            </div>
            <p ng-show="createForm.description.$error.maxlength" class="help-block err">Description is too long.</p>
        </div>


        <div class="row">
            <div class="col-sm-6 col-md-4 form-group">
                <button ng-disabled="createForm.$invalid " type="submit" class="btn btn-success">Create</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 form-group">
                <p class="err">{{err}}</p>
                <p class="success">{{success}}</p>
            </div>
        </div>
    </form>
</div>