<div class="task-manager-conteiner">

<h1>Simple TODO lists</h1>
        <h3>from ruby garage</h3>

        <section ng-repeat="project in projects" class="to-do-list container">
            <header class="row">
                <div class="logo col-xs-1"></div>
                <div class="title col-xs-9">{{project.name}}</div>
                <div class="head-buttons col-xs-2">
                    <div class="row">
                        <div ng-click="showEditProjModal(project)" class="edit-list col-xs-6"  data-toggle="modal" data-target="#edit-proj-modal"></div>
                        <div ng-click="deleteProject(project)" class="delete-list col-xs-6"></div>
                    </div>
                </div>
            </header>

            <div class="new-task-panel row">
                <div class="add-task-logo col-xs-1"></div>
                <div class="new-task-name col-xs-10">
                    <div class="input-group">
                        <input class="form-control new-task-input" type="text" ng-model="taskName" placeholder="Start typing here to create task...">
                        <div class="input-group-addon btn btn-success add-task-btn" ng-disabled="!taskName" ng-click="saveTask(project, taskName)">Add Task</div>
                    </div>
                </div>
                <!--<div class="add-task-btn col-xs-3">
                    <button ng-disabled="!taskName" ng-click="saveTask(project, taskName)">Add Task</button>
                </div>-->
            </div>

            <div class="tasks-container">
                <div class="task-item row" ng-repeat="task in project.tasks| orderBy:'priority'" ng-mouseover="isSelected = true" ng-mouseleave="isSelected = false" ng-init="isSelected=false">
                    <div class="done col-xs-1">
                        <input type="checkbox" ng-checked="task.isDone" ng-model="task.isDone" ng-change="saveUser()">

                    </div>
                    <div class="task-name col-xs-8" ng-class="{strike: task.isDone}">
                        <div class="double-line"></div>
                        {{task.name}}
                    </div>
                    <div class="task-buttons col-xs-3" ng-show="isSelected">
                        <div class="row">
                            <div ng-click="changePriority(true, project, task)" class="up col-xs-3"></div>
                            <div ng-click="changePriority(false, project, task)" class="down col-xs-3"></div>
                            <div ng-click="showEditTaskModal(task)" class="edit-task col-xs-3" data-toggle="modal" data-target="#edit-task-modal"></div>
                            <div ng-click="deleteTask(task, project)" class="del-task col-xs-3"></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    <div class="wrap-btn">
        <button class="add-proj-btn" data-toggle="modal" data-target="#create-proj-modal">Add TODO List</button>
    </div>
<h6>©Ruby Garage</h6>


    <!-- Modal -->
    <div class="modal fade" id="create-proj-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Enter name of new list</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter name" ng-model="listName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-disabled="!listName" data-dismiss="modal" class="btn btn-primary" ng-click="saveNewList()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-proj-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">Enter new name</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" ng-model="editedProjectName" type="text" placeholder="Enter name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-disabled="!editedProjectName" data-dismiss="modal" class="btn btn-primary" ng-click="editProject()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-task-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel3">Enter new name</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" ng-model="editedTaskName" type="text" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <input id="datepicker" ng-model="editedTaskDate" class="form-control" type="text" placeholder="Enter date">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="saveTaskButton" type="button" ng-disabled="!editedTaskName" data-dismiss="modal" class="btn btn-primary" ng-click="editTask()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>