<div>


<h1>Simple TODO lists</h1>
        <h3>from ruby garage</h3>

        <section ng-repeat="project in projects" class="to-do-list container">
            <header class="row">
                <div class="logo col-sm-1"></div>
                <div class="title col-sm-9">{{project.name}}</div>
                <div class="head-buttons col-sm-2">
                    <div class="row">
                        <div ng-click="showEditProjModal(project)" class="edit-list col-sm-6"  data-toggle="modal" data-target="#edit-proj-modal"></div>
                        <div ng-click="deleteProject(project)" class="delete-list col-sm-6"></div>
                    </div>
                </div>
            </header>

            <div class="new-task-panel row">
                <div class="add-task-logo col-sm-1"></div>
                <div class="new-task-name col-sm-8">
                    <input class="form-control" type="text" ng-model="taskName" placeholder="Start typing here to create task...">
                </div>
                <div class="add-task-btn col-sm-3">
                    <button ng-disabled="!taskName" ng-click="saveTask(project, taskName)">Add Task</button>
                </div>
            </div>

            <div class="tasks-container">
                <div class="task-item row" ng-repeat="task in project.tasks">
                    <div class="done col-sm-1">
                        <input type="checkbox">
                    </div>
                    <div class="task-name col-sm-8">
                        {{task.name}}
                    </div>
                    <div class="task-buttons col-sm-3">
                        <div class="row">
                            <div class="up col-sm-3"></div>
                            <div class="down col-sm-3"></div>
                            <div class="edit-task col-sm-3"></div>
                            <div class="del-task col-sm-3"></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    <button data-toggle="modal" data-target="#create-proj-modal">Add TODO List</button>
<h6>©Ruby Garage</h6>


    <!-- Modal -->
    <div class="modal fade" id="create-proj-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Enter name of new list</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter name" ng-model="listName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-disabled="!listName" data-dismiss="modal" class="btn btn-primary" ng-click="saveNewList()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-proj-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">Enter new name</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter name" ng-model="editedProject.name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-disabled="!editedProject.name" data-dismiss="modal" class="btn btn-primary" ng-click="editProject()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>