<div>

<h1>Simple TODO lists</h1>
        <h3>from ruby garage</h3>

        <section class="to-do-list">
            <header>
                <div class="logo"></div>
                <div class="title"></div>
                <div class="head-buttons">
                    <div class="edit-list"></div>
                    <div class="delete-list"></div>
                </div>
            </header>

            <div class="new-task-panel">
                <div class="add-task-logo"></div>
                <div class="new-task-name"></div>
                <div class="add-task-btn"></div>
            </div>

            <div class="tasks-container">
                <div class="task-item">
                    <div class="done">
                        //checkbox
                    </div>
                    <div class="task-name"></div>
                    <div class="task-buttons">
                        <div class="up"></div>
                        <div class="down"></div>
                        <div class="glyphicon-ban-circle"></div>
                    </div>
                </div>
            </div>

        </section>

    <button>Add TODO List</button>
<h6>©Ruby Garage</h6>
</div>